<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028764820655-66j1jf0ihju362ibsmobhgcb4d8e1aip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028764820655-66j1jf0ihju362ibsmobhgcb4d8e1aip</string>
	<key>API_KEY</key>
	<string>AIzaSyC3pzzVQ58-LhyHHqKDFvy0LsaxtE00b7E</string>
	<key>GCM_SENDER_ID</key>
	<string>1028764820655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.badgerFrontend</string>
	<key>PROJECT_ID</key>
	<string>badger-vd131</string>
	<key>STORAGE_BUCKET</key>
	<string>badger-vd131.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028764820655:ios:b234317ad48d6d9e93205a</string>
</dict>
</plist>